[Unit]
Description=Emacs: the extensible, self-documenting text editor
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/
Wants=ssh-agent.service
After=ssh-agent.service

[Service]
Type=notify
ExecStart=/usr/bin/emacs --fg-daemon
SuccessExitStatus=15
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
Restart=on-failure

# Remove the limit in startup timeout, since emacs
# cloning and building all packages can take time
TimeoutStartSec=0

[Install]
WantedBy=default.target
